@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Audiowide&family=Iceland&family=Permanent+Marker&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cabecalho {
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    justify-content: space-between;
}

.link-logo {
    text-decoration: none;
    color: white;
    font-family:  'IceLand';
}

.icone {
    height: 20px;
}

#input-buscar {
    padding: 5px;
    margin-right: 5px;
    display: flex;
}

.form-buscar {
    display: flex;
}

/* as cores de background foram definidas apenas pra visualizar melhor o código */
main {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.produtos {
    display: flex;
    background-color: gray;
    max-width: 950px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.produto {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    padding: 10px;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.produto:hover { /* quando o mouse passar encima do produto ele dá uma subida */
    position: relative;
    bottom: 3px;
}

.produto img {
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
}

.produto p {
    color: red;
}
